@charset "utf-8";
/* CSS Document */

body,ul,ol,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
ul,ol{list-style: none;}
img{border: none; vertical-align: top;}
a{text-decoration: none;}

.clearfix:after,.clearfix:before{content: "";display: block;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}
.gwidth{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}