@charset "utf-8";
/*top*/
.top{
  width:100%;
  position:relative;
}
.top img{
  width:190px;
  height: 95px;
  float:left;
}
.top .sp11{
  font-size:18px;
  position:absolute;
  top:30px; 
  left: 650px;
}
.top .sp22{
  font-size:18px;
  position:absolute;
  top:55px;left:746px;
}
.top p{
  float:left;
  font-size:30px;
  color:#504D4B;
  line-height:100px;
}
.top .right{
  width:250px;
  margin-top:15px;
}
.icon-dianhua-1{
  color:#0571C9;
  display:block;
  float:left;
  margin-right:20px;
  margin-top: 6px;
  margin-left: 10px;
}
.top .right .sp2{
  font-size:20px;
  font-weight:bold;
}
/*head*/
.head{
  width:100%;
  height:50px;
  background:#0b83e5;
}
.header{
  width:100%;
}
.header .container {
  width:100%;
  height:40px;
  float:left;
  position: relative;
}
.header .container .nav {
  display: inline-block;
  text-align: center;
  position: absolute;
  top:0px;
}
.header .container .nav a{
  font-size:16px;
  color:#fff;
  padding:0px 43px;
}
.header .container .nav > ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}
.header .container .nav > ul > li {
  float: left;
  line-height: 50px;
  position: relative;
  z-index: 2;
  font-family:"微软雅黑";
  color:#000;
  cursor: pointer;
}
.header .nav .li1:hover{
  background:#045fb2;
}
.header .container .nav .top-menu .drop-menu a{
  font-size:14px;
} 
.header .container .nav .top-menu .drop-menu li:hover{
  background:#045fb2;
}
.header .container .nav .top-menu ul li:hover a{
  color: #fff;
}
.header .container .nav .top-menu .li1:hover .a1{
  font-weight: bold;
}
.header .container .nav .top-menu .zpxi:hover a{
  font-weight: bold;
}
ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}
ul.drop-menu li{
  background:#0571C9;
}

ul.drop-menu li:first-child {
  border-radius: 2px 2px 0 0;
}
ul.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

li:hover > ul.drop-menu.menu-1 {
  perspective: 1000px;
}
li:hover > ul.drop-menu.menu-1 li {
  transform-origin: top left;
  opacity: 0;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(1) {
  animation-name: menu-1;
  animation-duration: 300ms;
  animation-delay: -150ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(2) {
  animation-name: menu-1;
  animation-duration: 300ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(3) {
  animation-name: menu-1;
  animation-duration: 300ms;
  animation-delay: 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(4) {
  animation-name: menu-1;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(5) {
  animation-name: menu-1;
  animation-duration: 300ms;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(6) {
  animation-name: menu-1;
  animation-duration: 300ms;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes menu-1 {
  0% {
    opacity: 0;
    transform: rotateZ(90deg);
  }
  70% {
    transform: skewX(10deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
li:hover > ul.drop-menu.menu-2 {
  perspective: 1000px;
}
li:hover > ul.drop-menu.menu-2 li {
  transform-origin: top center;
  opacity: 0;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(1) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: -150ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(2) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(3) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(4) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(5) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(6) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes menu-2 {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
li:hover > ul.drop-menu.menu-3 {
  perspective: 1000px;
}
li:hover > ul.drop-menu.menu-3 li {
  transform-origin: top center;
  opacity: 0;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(1) {
  animation-name: menu-3;
  animation-duration: 300ms;
  animation-delay: -150ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(2) {
  animation-name: menu-3;
  animation-duration: 300ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(3) {
  animation-name: menu-3;
  animation-duration: 300ms;
  animation-delay: 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(4) {
  animation-name: menu-3;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(5) {
  animation-name: menu-3;
  animation-duration: 300ms;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(6) {
  animation-name: menu-3;
  animation-duration: 300ms;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes menu-3 {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  70% {
    transform: rotateY(-10deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
li:hover > ul.drop-menu.menu-4 {
  perspective: 1000px;
}
li:hover > ul.drop-menu.menu-4 li {
  transform-origin: top center;
  opacity: 0;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(1) {
  animation-name: menu-4;
  animation-delay: -150ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(2) {
  animation-name: menu-4;
  animation-delay: 0ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(3) {
  animation-name: menu-4;
  animation-delay: 150ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(4) {
  animation-name: menu-4;
  animation-delay: 300ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(5) {
  animation-name: menu-4;
  animation-delay: 450ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(6) {
  animation-name: menu-4;
  animation-delay: 600ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes menu-4 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  70% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*轮播图*/
.lb{
  width:100%;
  height:550px;  
}
.lb img{
  width:100%;
  height:100%;
}
.swiper-container {
    width:100%;
    height:550px;
}  
/*footer*/
.footer{
  height:285px;
  width:100%;
  background: #0F60C9;
}
.footer .line{
  width:100%;
  border-bottom:1px solid #fff;
  height:50px;
}
.footer .top{
  text-align: center; 
  width:1100px; 
}
.footer .one_menu li{
  float:left;
  font-size:0;
  color:#fff;
  line-height: 50px;
}
.footer .one_menu li a:hover{
  color:red;
}
.footer .one_menu li a{
  color:#fff;
  font-size:14px;
}
.footer .one_menu span{
  font-size:14px;
  padding-left:40px;
  padding-right:40px;
}
.footer .bottom{
  margin-top: 14px;
  height:170px;
}
.footer .bottom .b_left{
  float:left;
  line-height: 35px;
  color:#fff;
  font-size:14px;
  text-align: left;
}
.footer .bottom .b_left a{
  color: #fff;
}
.footer .bottom .b_right{
  float:right;
  width:325px;
  color:#fff;
  font-size:14px;
  font-family: "微软雅黑";
  line-height: 28px;
}
.footer .bottom .b_right .one img{
  width: 110px;
  height: 110px;
}
.footer .bottom .b_right .two img{
  width: 110px;
  height: 110px;
}
.footer .bottom .b_right .one{
  width:126px;
  display: inline-block;
  text-align: center;
  padding-right:40px;  
}
.footer .bottom .b_right .two{
  width:126px;
  display: inline-block;
  text-align: center;
}
.footer .file{
  text-align: center;
  font-size:14px;
  color:#fff;
}

.side{
  position:fixed;
  width:78px;right:0;top:65%;
/*  margin-top:-200px;*/
  z-index:100;
  border:1px solid #e0e0e0;
  background:#fff;
  border-bottom:0
}
.side ul li{
  width:78px;
  height:78px;
  float:left;
  position:relative;
  border-bottom:1px solid #e0e0e0;
  color:#333;
  font-size:14px;
  line-height:38px;
  text-align:center;
  transition:all .3s;cursor:pointer
}
.side ul li:hover{
  background:#295CBD;
  color:#fff
}
.side ul li:hover a{
  color:#fff;
}
.side ul li i{
  height:25px;
  margin-bottom:1px;
  display:block;
  overflow:hidden;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:auto 25px;
  margin-top:14px;
  transition:all .3s
}
.side ul li i.bgs1{
  background-image:url(../images/right_pic5.png)
}
.side ul li i.bgs2{
  background-image:url(../images/right_pic7.png)
}
.side ul li i.bgs3{
  background-image:url(../images/right_pic2.png)
}
.side ul li i.bgs4{
  background-image:url(../images/right_pic1.png)
}
.side ul li i.bgs5{
  background-image:url(../images/right_pic3.png)
}
.side ul li i.bgs6{
  background-image:url(../images/right_pic6_on.png)
}
.side ul li:hover i.bgs1{
  background-image:url(../images/right_pic5_on.png)
}
.side ul li:hover i.bgs2{
  color:blue;
  background-image:url(../images/right_pic7_on.png)
}
.side ul li:hover i.bgs3{
  background-image:url(../images/right_pic2_on.png)
}
.side ul li:hover i.bgs4{
  background-image:url(../images/right_pic1_on.png)
}
.side ul li:hover i.bgs5{
  background-image:url(../images/right_pic3_on.png)
}
.side ul li .sidebox{
  position:absolute;
  width:78px;
  height:78px;
  top:0;right:0;
  transition:all .3s;
  overflow:hidden
}
.side #qqonline:hover a{
  color:#fff;
}
.side #qqonline a{
  color:#000;
}
.side ul li.sidetop{
  background:#295CBD;
  color:#fff;
}
.side ul li.sidetop:hover{
  opacity:.8;
  filter:Alpha(opacity=80)
}
.side ul li.sideewm .ewBox {
  display:none;
}
.side ul li.sideewm .ewBox img{
  width:238px;
  color:#363636;
  text-align:center;
  position:absolute;
  left:-240px;top:0;
  background-size: 239px 239px;
  background-repeat:no-repeat;
  background-position:center center;
  border:1px solid #e0e0e0;
}
.side ul li.sideewm .ewBox:hover {
  display:block;
}
.side ul li.sideetel .telBox.son{
  width:240px;
  height:237px;
  display:none;
  color:#fff;
  text-align:left;
  position:absolute;
  left:-240px;top:-79px;
  background:#295CBD;
}
.side ul li.sideetel .telBox dd{
  display:block;
  height:118.5px;
  overflow:hidden;
  padding-left:52px;
  line-height:24px;
  font-size:18px;
  margin-left: 30px;

}
.side ul li.sideetel .telBox dd span{
  display:block;
  line-height:28px;
  height:28px;
  overflow:hidden;
  margin-top:32px;
  font-size:18px;
  margin-left: 10px;
}
.side ul li.sideetel .telBox dd p{
  margin-left: 10px;
}
.side ul li.sideetel .telBox dd.bgs1{
  background:url(../images/right_pic8.png) 10px center no-repeat;
  background-color:#184291;
}
.side ul li.sideetel .telBox dd.bgs2{
  background:url(../images/right_pic9.png) 10px center no-repeat;
  background-color:#184291;
}
.side ul li:hover .son{
  display:block!important;
  animation:fadein 1s
}
@keyframes fadein{from{opacity:0
}
to{opacity:1}
}
